
@{
    ViewBag.Title = "FideFit";
}



    <section class="row" aria-labelledby="aspnetTitle">
    
        <h2  style="
           font-size: 45px; 
           position: relative;
           text-align:center; 
           text-decoration-line:underline;
           margin:10px;
           "   
            
     id="title">ENTRENA COMPITE Y REPITE </h2>
    </section>
      


    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:10px;">
        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/g1.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Entrenadores Profesionales</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/g2.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Equipo de Peso</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
       
        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/g3.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Máquinas de última generación</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
